<div class="col-md-4 column">
</div>
<div class="col-md-4 column">
  <form role="form">
  				<div class="form-group">

  					<label for="exampleInputEmail1">
  						Server Name
  					</label>
  					<input type="text" ng-model="servermodel.server_name" class="form-control" id="server_name" />
  				</div>
  				<div class="form-group">

  					<label for="exampleInputPassword1">
  						Detail
  					</label>
  					<textarea ng-model="servermodel.detail" class="form-control" id="exampleInputPassword1" /></textarea>
  				</div>
  				<div class="form-group">

  					<label for="exampleInputFile">
  						UUID
  					</label>
  					<input value="{{servermodel.uuid}}" disabled type="text" id="exampleInputFile" />
  					<p class="help-block">
  						This is a system generated unqiue id which identity the server
  					</p>
  				</div>

  				<button ng-click="saveserver(servermodel)" type="submit" class="btn btn-default">
  					save
  				</button>
  			</form>
</div>
<div class="col-md-4 column">
</div>
