<div class="col-md-2 column">
</div>
<div class="col-md-8 column">
	<h4>{{ server.name }}</h4>
	<div id="charts">
		<canvas id="line" class="chart chart chart-line" data="data"
labels="labels" legend="true" series="series"></canvas>
	</div>
<table class="table">
				<thead>
					<tr>
						<th>
							#
						</th>

						<th>
						CPU Rating
						</th>
						<th>
						Memory Rating
						</th>
            <th>
            Number of Process
            </th>
					</tr>
				</thead>
				<tbody>

					<tr ng-repeat="r in records">
						<td>
							{{ $index+1 }}
						</td>

						<td>
							{{ r.cpu }}
						</td>
						<td>
							{{ r.memory }}
						</td>
            <td>
            {{ r.process }}
            </td>
					</tr>
				</tbody>
			</table>

</div>
<div class="col-md-2 column">
</div>
