<div class="col-md-4 column" ng-repeat="record in servers | filter:searchText">
  <h2><a ng-click="detail(record)" href="#/server/{{record.id}}" >
    {{ record.name }} </a>
  </h2>
  <p>
        {{ record.detail }}
    </p>
  <p>
    {{ record.uid }}
  </p>
  <p>
    <button type="submit" ng-click="editServer" class="btn btn-default">Edit</button>
    <button type="submit" ng-click="removeServer" class="btn btn-default">Remove</button>
  </p>
</div>
