<!DOCTYPE html>
<html lang="en" ng-app="blackcatmg">
<head>
  <meta charset="utf-8">
  <title>Server Management Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->

	<link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/angular-chart.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.png">

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-route.min.js"></script>
<script type="text/javascript" src="js/Chart.min.js"></script>
<script type="text/javascript" src="js/angular-chart.js"></script>
</head>

<body ng-controller="mainCtrl">
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">
             Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#/">Server Management Dashboard</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


         <ul class="nav navbar-nav">
           <li><a href="#/server/add" ng-click="addServer(servermode={})">Add Server</a></li>
         </ul>
				</div>

			</nav>
		</div>
	</div>

	<div class="row clearfix" ng-view></div>
</div>
<script>
var app = angular.module('blackcatmg',['ngRoute','chart.js']);

app.config(function($routeProvider){
 $routeProvider.when('/',{
   templateUrl:'/template/server_listing.html'
 })
 .when('/server/1',{
   templateUrl:'/template/server_detail.html'
 })
 .when('/server/add',{
   templateUrl:'/template/addserver.html'
 })
 .when('/server/edit/:id',{
   tempalteUrl:'/template/addserver.html'
 });



});

app.controller('mainCtrl',function($scope,$http,datasource,$location,$interval){
$scope.servers = [];

$scope.init = function(){

  var path = $location.path();
  if(path.match("/(server)/([1-9]+)")){
    $scope.detail({id:path.match("/(server)/([1-9]+)")[2]})
  }


  //debugger;
};



$scope.load_server = function(){

  $http.get('/server').then(function(res){

    $scope.servers = res.data;
    //console.log($scope.servers);

  });


};

$scope.load_server();

$scope.addserver = function(obj){



};

$scope.saveserver = function(obj){

  $scope.servers.push(obj);

};


$scope.detail = function(obj){




    $scope.server = _.where($scope.servers,{id:1});


    clearInterval($scope.intervalId);
    var x = 0
  var polling = function(){
    $scope.records = [];

    $http.get('/server/'+obj.id).then(function(res){

      $scope.records = res.data;
      //console.log($scope.servers);
      $scope.series = ['CPU', 'Memory','Process'];
      $scope.labels = [];
      $scope.data = [[],[],[]];
      //debugger;

      for(var i = 0; i<$scope.records.length; i++){
        //new Date(rd['createdAt']).getTime()
        x++;
        rd = $scope.records[i];
        $scope.labels.push(i);
        $scope.data[0].push(rd['cpu']*10)
        $scope.data[1].push(rd['memory'])
        $scope.data[2].push(rd['process'])
      }

    });

  };

  polling();
  $scope.intervalId = $interval(function(){
    polling();
  },10000);

  //debugger;




};

$scope.server_selected  = function(serverobject){

  server_parameters = {};

  datasource.cpu(serverobject).success(function(data){
    server_parameters.cpu = data;
  });

  datasource.memory(serverobject).success(function(data){
    server_parameters.memory = data;
  });

  datasource.process(serverobject).success(function(data){
    server_parameters.process = data;
  });


};

$scope.init();
});

app.factory('datasource',function($http){
  return {
  cpu:function(para){
      var req = $http({
           method:"get",
           params:para,
           url:"/cpu",
      });
    return req;
  },
  memory:function(para){
      var req = $http({
           method:"get",
           url:"/memory",
           params:para
      });
    return req;
  },
  process:function(para){
      var req = $http({
           method:"get",
           url:"/process",
           params:para
      });
    return req;
  }

};

  });










</script>
</body>
</html>
