<!DOCTYPE html>
<html lang="en" ng-app="blackcatmg">
<head>
  <meta charset="utf-8">
  <title>Server Management Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.png">

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-route.min.js"></script>
</head>

<body ng-controller="mainCtrl">
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">
             Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Server Management Dashboard</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


         <ul>
           <li><a href="#/server/add" ng-click="addServer(servermode={})">Add Server</a></li>
         </ul>
				</div>

			</nav>
		</div>
	</div>

	<div class="row clearfix" ng-view>


	</div>
</div>
<script>
var app = angular.module('blackcatmg',['ngRoute']);

app.config(function($routeProvider){
 $routeProvider.when('/',{
   templateUrl:'template/server_listing.html'
 })
 .when('/server/{id:int}',{
   templateUrl:'template/server_detail.html'
 })
 .when('/server/add',{
   templateUrl:'/template/addserver.html'
 })
 .when('/server/edit/:id',{
   tempalteUrl:'/template/addserver.html'
 });



});

app.controller('mainCtrl',function($scope,$http,datasource){
$scope.servers = [{
  title:"server C123",
  detail:"work well",

}];
/*$http.get('/server',function(data){

  servers = data;

});*/


$scope.addserver = function(obj){



};

$scope.saveserver = function(obj){

  $scope.servers.push(obj);

};


$scope.detail = function(obj){




};

$scope.server_selected  = function(serverobject){

  server_parameters = {};

  datasource.cpu(serverobject).success(function(data){
    server_parameters.cpu = data;
  });

  datasource.memory(serverobject).success(function(data){
    server_parameters.memory = data;
  });

  datasource.process(serverobject).success(function(data){
    server_parameters.process = data;
  });






}





});

app.factory('datasource',function($http){
  return {
  cpu:function(para){
      var req = $http({
           method:"get",
           params:para,
           url:"/cpu",
      });
    return req;
  },
  memory:function(para){
      var req = $http({
           method:"get",
           url:"/memory",
           params:para
      });
    return req;
  },
  process:function(para){
      var req = $http({
           method:"get",
           url:"/process",
           params:para
      });
    return req;
  }

};

  });










</script>
</body>
</html>
