.mf {

    border-bottom: 1px solid;
    border-radius: 4px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    padding:10px;
    margin-bottom:10px;
  }

.form-inline .form-group {
  margin-bottom: 10px;

}

search-form {

}
